<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestRepoP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B19DE85F1E4076AD0015648E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B19DE8731E4076AD0015648E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B19DE87E1E4076AD0015648E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
